/* HSL */
$color1: hsla(302%, 36%, 15%, 1);
$color2: hsla(340%, 76%, 48%, 1);
$color3: hsla(2%, 84%, 63%, 1);
$color4: hsla(163%, 19%, 81%, 1);
$color5: hsla(41%, 91%, 91%, 1);

/* RGB */
$color1: rgba(51, 24, 50, 1);
$color2: rgba(216, 30, 91, 1);
$color3: rgba(240, 84, 79, 1);
$color4: rgba(198, 216, 211, 1);
// $color5: rgba(253, 240, 213, 1);
$color5: rgba(252, 249, 242, 1);
$color6: rgba(220, 220, 220, 1)

/* Rubik font */
@import url('https://fonts.googleapis.com/css?family=Quicksand');





body
  background-color: $color6
  min-width: 100%
  min-height: 100%

main
  display: flex
  justify-content: center

textarea
  resize: none
  outline: none
  border: none

pre
  margin: 16px 0 0 0 
  font-size: 16px





.box
  width: 40% 
  background-color: $color5
  margin: 2%
  min-height: 60vh
  box-sizing: border-box
  border: solid 1px darken($color5, 10%)


.box__header
  font-family: 'Quicksand', sans-serif
  font-size: 25px
  text-align: left
  height: 5vh
  background-color: $color2
  color: $color1
  display: flex
  justify-content: space-between

.box__label
    line-height: 5vh
    margin-left: 10px
    margin-right: auto
    margin-top: 0
    margin-bottom: 0

.box__field
  box-sizing: border-box
  padding: 10px
  background-color: $color5
  color: $color1
  min-height: 55vh 
  min-width: 100%
  text-align: left

.switches
  display: flex
  justify-content: end

.switches__switch
  margin: 0 15px 0 0 
  line-height: 5vh

.switches__switch--inactive
  color: $color3

.switches__switch--inactive:hover
  color: lighten($color1, 10%)
  cursor: pointer
  transition: color 0.2s

